<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kobe Bryant Tribute</title>

</head>

<body>
    <h1>KOBE BRYANT TRIBUTE</h1>
    <h1> Breve biografía </h1>
    <p>Fue un baloncestista estadounidense que disputó veinte temporadas en la NBA, todas ellas
        en Los Angeles Lakers, desde 1996 hasta 2016. Era hijo del exjugador de la NBA Joe Bryant.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Kobe_Bryant_8.jpg/250px-Kobe_Bryant_8.jpg">

    <h1>Perfil del jugador</h1>
    <p>Bryant era un escolta con capacidades para jugar perfectamente tanto de alero como de base.
        Está considerado como uno de los jugadores más completos de la historia de la NBA, y ocupa el
        puesto número 12 en el ranking de los mejores baloncestistas de la historia de la NBA realizado por
        ESPN.​ Fue elegido en el mejor quinteto en 11 temporadas y cuenta con 18 apariciones en el
        All-Star Game. A menudo la prensa deportiva especializada lo comparaba con Michael Jordan,
        algo que no le gustaba a Bryant.​ En una encuesta realizada por el canal ESPN entre periodistas
        deportivos le situaban como el segundo mejor escolta de todos los tiempos, por detrás de Jordan.</p>

    <h1>Carrera</h1>
    <p>Los Charlotte Hornets seleccionaron a Bryant —procedente del instituto Lower Merion de Filadelfia—
        en el draft de la NBA de 1996, pero fue traspasado inmediatamente a Los Angeles Lakers. Junto
        con Shaquille O'Neal, Bryant llevó a su equipo a la consecución de tres campeonatos de la NBA
        entre 2000 y 2002. Tras la salida de O'Neal, Kobe lideró la clasificación de máximos anotadores
        de la liga en 2006 y 2007,​ y logró varios récords en ese periodo. En enero de 2006 anotó 81
        puntos ante los Toronto Raptors, la segunda mejor anotación de la historia por detrás de los 100
        puntos de Wilt Chamberlain en 1962.​ El 7 de mayo de 2008 fue nombrado MVP de la temporada
        2007-08 de la NBA. Después de perder las Finales de 2008, ayudó a los Lakers a la obtención de
        otros dos campeonatos consecutivos en 2009 y 2010, donde ganó en ambas ocasiones el Premio
        Bill Russell al MVP de las Finales de la NBA.​</p>

    <h1>Carrera internacional</h1>
    <p>El 23 de junio de 2008 se anunció que Bryant participará en los Juegos Olímpicos de Pekín 2008, la
        primera vez que el jugador participaba en unos Juegos Olímpicos. Estados Unidos resultó encuadrado en el
        Grupo B del torneo junto a España, Alemania, la anfitriona China, Grecia y Angola. Los americanos se
        clasificaron a los cuartos de final como primeros de grupo sin ceder un solo partido. En la fase final,
        eliminaron por 116-85 a Australia en cuartos, a Argentina por 101-81 en semifinales y ya en la final
        derrotaron a España. El resultado estuvo igualado durante todo el partido pero siempre con ventajas
        de los estadounidenses, quienes finalmente se hicieron con la medalla de oro al ganar 118-107. Era la
        primera vez que Estados Unidos se hacía con la victoria en unos Juegos desde los de 2000 en Sídney.
        Bryant promedió 15 puntos, 2,8 rebotes, 2,1 asistencias y un 46,2 % en tiros de campo en los
        ocho partidos.</p>


    <p>Toda la información obtenida proviene de Wikipedia.</p>

    <a href="https://es.wikipedia.org/wiki/Kobe_Bryant#2014-2016:_regreso_de_la_lesi%C3%B3n,_r%C3%A9cords_y_retirada">Ver
        Kobe Bryant en Wikipedia</a>


</body>

</html>